/**
 *
 * You can write your CSS code here, DO NOT touch the default JavaScript file
 * because it will make it harder for you to update.
 * 
 */

/*# sourceMappingURL=custom.css.map */

.dropdown-toggle-custom:after {
    display: none !important;
}

.table-nowrap {
    white-space: nowrap !important;
}

.table-align-middle tr>* {
    vertical-align: middle !important
}

.text-wrap-overflow {
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 100%;
    min-width: 200px;
    max-width: 400px;
    max-height: 100px;
    overflow-y: auto;
    box-sizing: border-box;
}

#scrollToTopPage {
    position: fixed;
    bottom: 1rem;
    right: 1.85rem;
    z-index: 99999;
    transition: opacity 0.3s ease, font-size 0.3s ease;
}

/* Base ratio container */
.ratio {
    width: 100%;
    position: relative;
    overflow: hidden;
}

/* Children fill the container */
.ratio>* {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border: 0;
}

.ratio-1x1 {
    aspect-ratio: 1 / 1;
}

.ratio-4x3 {
    aspect-ratio: 4 / 3;
}

.ratio-3x2 {
    aspect-ratio: 3 / 2;
}

.ratio-16x9 {
    aspect-ratio: 16 / 9;
}

.ratio-2x1 {
    aspect-ratio: 2 / 1;
}

.ratio-21x9 {
    aspect-ratio: 21 / 9;
}

.ratio-3x4 {
    aspect-ratio: 3 / 4;
}

.ratio-9x16 {
    aspect-ratio: 9 / 16;
}

/* Custom Card Image */
.custom-card-img-wrapper {
    position: relative;
}

.custom-card-img-label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Text Clamp */
.text-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Landing page */
.custom-toogle-sidebar {
    display: none !important;
}

.custom-navbar-brand {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.custom-toogle-sidebar i,
.custom-navbar-brand {
    font-size: 1.25rem !important;
}

/* Hero */
.custom-hero-bg-image,
.about {
    border-radius: 0 !important;
}

.custom-hero-bg-image:before {
    border-radius: 0 !important;
}

.custom-card-body-statistic-1 {
    height: 100px !important;
}

/* Media query */
@media (max-width: 992px) {
    .custom-toogle-sidebar {
        padding: 0 !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .custom-toogle-sidebar i,
    .custom-navbar-brand {
        font-size: 1rem !important;
    }

    .custom-container {
        padding-left: 1.85rem !important;
        padding-right: 1.85rem !important;
    }

    .custom-navbar-bg {
        height: 128px !important;
    }

    .custom-mt {
        margin-top: -0.75rem !important;
    }

    .custom-border-btn {
        border: 1.5px solid white;
    }

    .custom-hero-bg-image {
        border-top-left-radius: 3px !important;
        border-top-right-radius: 3px !important;
    }

    .custom-hero-bg-image:before {
        border-top-left-radius: 3px !important;
        border-top-right-radius: 3px !important;
    }

    .about {
        border-bottom-left-radius: 3px !important;
        border-bottom-right-radius: 3px !important;
    }

    .custom-container-footer,
    .custom-container-hero,
    .custom-container-section {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media (min-width: 992px) {

    .custom-container,
    .custom-container-footer,
    .custom-container-hero {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .hero-title {
        font-size: 4.5rem;
        font-weight: 300;
        line-height: 1.2;
    }

    .custom-main-content {
        padding-top: 9.25rem !important;
    }

    .scroll-to-top-landing-page {
        right: 7.5rem !important;
    }

}